%li{class: ( 'active' if current_page?('/') )}
  = link_to "/" do
    %i.fa.fa-laptop
    %span.nav-label Main page
%li{class: ( 'active' if current_page?(new_user_path) )}
  = link_to new_user_path do
    %i.fa.fa-desktop
    %span.nav-label User
