%li{class: is_active_controller('users')}
  = link_to users_path do
    %i.fa.fa-users
    %span.nav-label Usuarios
    %span.fa.arrow
  %ul{:class => "nav nav-second-level collapse #{is_active_controller('users', 'in')}"}
    %li{:class => is_active_action('new')}= link_to 'Crear nuevo', new_user_path
    %li{:class => is_active_action('index')}= link_to 'Ver todos', users_path
