%li{class: ( 'active' if current_page?('/') )}
  = link_to "/" do
    %i.fa.fa-laptop
    %span.nav-label Main page
%li{class: ( 'active' if current_page?('/home/minor') )}
  = link_to '/home/minor' do
    %i.fa.fa-desktop
    %span.nav-label Minor page
