.row
  .col-lg-12
    .ibox.float-e-margins
      .ibox-title
        %h5
          Editando el producto #{@dispatch_product.import_product.product.name} en el despacho #{@dispatch_product.dispatch.code}
      .ibox-content
        = render 'form'
