.row#printing.footer
  .col-md-4
    = wicked_pdf_image_tag('logo.png', width: '150')
  .col-md-8.flex.text-right
    .text.text-right
      %strong
        DESPACHO:
      %span
        = @dispatch.code
      %strong
        |
      %strong
        IMP:
      %span
        = @dispatch.import.code
      
