.row#printing.footer
  .col-md-4
    = wicked_pdf_image_tag('logo.png', width: '150')
  .col-md-8.flex.text-right
    .text.text-right
      %span
        Despacho  
      %strong
        = "# #{@dispatch.code}"
      %span
        de la importación
      %strong
        #{@dispatch.import.code}
      
