- if @user.has_role? :customer
  = render partial: 'show_tabs.html.haml'
- else
  .row
    .col-sm-12
      .ibox
        .ibox-title
          %i.fa.fa-user
          Perfil
        .ibox-content

          = render partial: 'user_profile.html.haml'
