.row
  .col-sm-12
    .ibox
      .ibox-content
        .col-md-12.no-padding.mb-7
          .col-md-9.no-padding
            %h2 Lista de importaciones
        = smart_listing_controls_for(:imports) do
          .input-group.filter.mb-7
            %input.input.form-control{:placeholder => 'Buscar importación...', type: 'text', name: 'filter'}/
            %span.input-group-btn
              - if @user.present?
                %button.btn.btn-white{onclick: 'open_modal("#new_import")', type:'button'}
                  %span.glyphicon.glyphicon-plus
                  Nuevo
              %button.btn.btn.btn-primary{:type => 'submit'}
                %span.glyphicon.glyphicon-search
                Buscar
        .auto-height
          = smart_listing_render :imports
