.row
  .col-lg-12
    .wrapper.wrapper-content
      .middle-box.text-center.animated.fadeInRightBig
        %h3.font-bold ¡Lo sentimos! :(
        .error-desc
          El Recurso que esta intentando obtener no existe.
