.row
  .col-lg-12
    .wrapper.wrapper-content
      .middle-box.text-center.animated.fadeInRightBig
        %h3.font-bold ¡Lo sentimos! :(
        .error-desc
          El token de este recurso ya venció, no puede realizar la operación por motivos de seguridad.
