@import 'base/variables';
body{
  .login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-content-yield{
    padding-top: 1.3%;
    padding-bottom: 3%;
  }

  .align-right{
    text-align: right;
  }

  .label-sucess-green{
    background-color: $green;
    color: white;
  }
}
