%nav.navbar-default.navbar-static-side{role: 'navigation'}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{'data-toggle': 'dropdown', href: '#'}
            %span.clear
              = image_tag "logo.png", class: "img-responsive logo"
              %span.block.m-t-xs
                %strong.font-bold
                = current_user.name
              %span.text-muted.text-xs.block
                Stcarga App
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = render 'layouts/logout'
        .logo-element
          IN+
      - unless current_user.has_role? :customer
        = render 'menu/admin'
